# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.pyc

# Executables
*.exe
*.out
*.app
*.elf
*.axf
*.bin

# Intermediate file
*.bak
*.map
*.dblite
*.dep
JLinkLog.txt
JLinkSettings.ini
build
